* {
  box-sizing: border-box;
}

body  {
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Helvetica;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #EDEDED;
  background-image: url("../public/img/fundoZap.jpg");
}

.sidebar {
  width: 35%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #f3f2f2;
}

.header-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
}

.header-buttons {
  display: flex;
}

.header-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.header-btn svg {
  margin-right: 10px;
}

.search {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}

.search-input {
  background-color: #fff;
  height: 45px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .search-input input {
    max-width: 140px;
  }
}


.chatlist {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
}
.contentarea {
  width: 100%;
}